@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@100;200;400;600;700&family=Slabo+13px&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #111;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 700px;
  height: 800px;
  background-color: black;
  color: white;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  border-radius: 7px;
  margin-top: 50px;
  flex-direction: column;
  box-sizing: border-box;
}

.container__login {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__name {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.container h2 {
  font-size: 40px;
  text-align: center;
}

.container p {
  color: gold;
  text-align: center;
  font-size: 25px;
}

.disabled {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__input {
  outline: none;
  background-color: black;
  border: solid 2px #333;
  color: whitesmoke;
  font-size: 20px;
  padding: 25px;
  margin: 5px;
  width: 500px;
  box-sizing: border-box;
}

.form__input:hover {
  background-color: #333;
}

.button {
  width: 500px;
  background-color: black;
  border: solid 2px #333;
  color: #ccc;
  padding: 25px;
  cursor: pointer;
  font-size: 20px;
  margin: 5px;
}

.button:hover {
  background-color: #333;
}

.button--send {
  display: flex;
  justify-content: space-between;
}
