@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@100;200;400;600;700&family=Slabo+13px&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

.secondBody {
  background-color: #181818;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.container {
  width: 700px;
  height: 890px;
  background-color: black;
  color: white;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  border-radius: 7px;
  margin-top: 50px;
  flex-direction: column;
  box-sizing: border-box;
}

.container__login {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__name {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.container h2 {
  font-size: 40px;
  text-align: center;
}

.container p {
  color: gold;
  text-align: center;
  font-size: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__input {
  outline: none;
  background-color: black;
  border: solid 2px #333;
  color: whitesmoke;
  font-size: 20px;
  padding: 25px;
  margin: 5px;
  width: 500px;
  box-sizing: border-box;
}

.form__input:hover {
  background-color: #333;
}

.button {
  width: 500px;
  background-color: black;
  border: solid 2px #333;
  color: #ccc;
  padding: 25px;
  cursor: pointer;
  font-size: 20px;
  margin: 5px;
}

.cancelsend {
  width: 506px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  margin: 5px;
}

.button--cancelSend {
  width: 240px;
  margin: 3px;
}

.button:hover {
  background-color: #333;
}

.container__avatars1 {
  height: 120px;
  background-color: black;
  border: solid 2px #333;
  color: whitesmoke;
  font-size: 20px;
  width: 500px;
  box-sizing: border-box;
  margin: 5px;
}

.container__avatars1 h3 {
  color: #555;
}

.avatar--img {
  display: inline-block;
  padding: 5px;
  box-sizing: border-box;
  height: 70px;
  width: 70px;
}
.avatar--img:hover {
  /*outline: 2px solid gold;*/
  border-radius: 4px;
  background-color: #222222;
}

.avatar--img--selected {
  outline: solid gold 2px;
}

.avatar--register {
  width: 100%;
}

.button--send {
  display: flex;
  justify-content: space-between;
}

/*/////////CONTAINER2////////////*/

.container2 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.container2__aside {
  height: 100%;
  width: 250px;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.aside {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2;
  background-color: gold;
  overflow: hidden;
}

.aside__avatar {
  height: 300px;
  width: 92%;
  background-color: black;
  transform: skew(0, 160deg);
  position: relative;
  top: -44px;
  overflow: hidden;
}

.aside__image {
  width: 100%;
  height: 200px;
  transform: skew(0, -160deg) scale(0.7);
  position: relative;
  top: 30px;
}

.logOut {
  width: 92%;
  height: 100px;
  background-color: black;
  transform: skew(0, -20deg);
  position: relative;
  transition: 0.5s;
}

.logOut__btn {
  color: gold;
  font-size: 30px;
  display: flex;
  transition: 0.5s;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logOut__btn:hover {
  color: white;
}

.logOut p {
  position: relative;
  font-weight: bolder;
}

.gray--aside {
  background-color: gray;
}

.container2__main {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 270px;
}

.container2__h3 {
  color: gold;
  font-size: 40px;
  margin: 30px 10px 0 10px;
  top: 10px;
}

.container2__main main {
  display: flex;
  height: 100%;
  width: 100%;

  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-auto-rows: 340px;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  height: 340px;
  width: 250px;
  overflow: hidden;
  border: 3px solid gold;
}

.gray--card {
  border: 3px solid gray;
}

.card:hover {
  cursor: pointer;
}

.card__intro {
  height: 150px;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
  top: -95px;
  background-color: gold;
  color: black;
  box-sizing: border-box;
  transition: 0.5s;
  transform: skew(0, -20deg);
}

.card:hover .card__intro {
  height: 250px;
  top: -250px;
  background-color: #111;
  color: white;
}

.card__img {
  object-fit: cover;
  width: 100%;
  height: 340px;
  transition: 0.5s;
}

.card__p {
  display: none;
}

.card:hover .card__p {
  display: initial;
}

.card:hover .card__img {
  transform: scale(1.4);
}

.container2__select {
  border: none;
  outline: none;
  padding: 15px;
  width: 170px;
  background-color: black;
  color: whitesmoke;
  font-size: 20px;
  box-sizing: border-box;
}

.container2__settings {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(22, 22, 22, 0.4);
  z-index: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings {
  width: 700px;
  height: 700px;
  background: #444;
  z-index: 500;
  border-radius: 4px;
}

.settings_colors {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: red;
  border-radius: 5px;
}

.settingGear {
  height: 80px;
  width: 80px;
  background-color: black;
  color: gold;
  border-radius: 50%;
  position: fixed;
  right: 50px;
  bottom: 50px;
  border: solid 4px gold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.material-symbols-outlined {
  font-size: 60px;
}

.absolute {
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 22, 0.4);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}

.inAbsolute {
  width: 1000px;
  height: 500px;
  background-color: #222;
  display: flex;
  flex-direction: row;
}

.absolute__image {
  width: 500px;
  object-fit: cover;
}

.inAbsolute2 {
  padding: 20px;
}

.inAbsolute2 h3 {
  padding: 0 0 15px 15px;
}

.disabled {
  display: none;
}
